body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;

}

.container {
    width: 1728px;
    margin: 0 auto;
    
   
}
.back{
    background: black;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.logo {
    padding: 15px 60px 5px 30px;
    display: inline-block;
}

.menu {
    float: right;
    padding: 5px 0 5px 70px;
}

.menu [type="checkbox"] {
    display: none;
}

label {
    display: none;
    cursor: pointer;
}

.menu {
    display: block;
}

.menu_item {
    display: block;
    float: left;
    padding-top: 35px;
}
.menu_link {
    color: #FDC700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #FDC700;
    display: flex;
    color: black;
    text-align: center;
    border-radius: 16px;
    padding: 20px;
    padding: 13px 53px 13px 45px;
    margin-right: 25px;
    transform: skew(-15deg);

}

.menu_link_item {
    color: #FDC700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    border-radius: 16px;
    padding: 20px;
    padding: 13px 53px 13px 45px;

}
.menu_link span {
    transform: skew(15deg);
}
.info-ears {
    background: #1A2EEC;
    background: -webkit-linear-gradient(top, #1A2EEC, #000000);
    background: -moz-linear-gradient(top, #1A2EEC, #000000);
    background: linear-gradient(to bottom, #1A2EEC, #000000);
    display: grid;
    padding-bottom: 188px;
    padding-top: 55px;
}
.ears{
    background-color: white;
}
.router{
    background-color: white;
}

.icons{
    width: 257px;
    height: 237px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 85px;
    /* border-radius: 15px; */
}
.text_img{
    float: left;
    width: 288px;
    
    
}



 .ear-img{
    position: relative;
    top: 55px;
}
.router-img{
    position: relative;
    top: 55px;
}
.park-img{
    position: relative;
    top: 78px;
}


.text-cont{
    font-size: 155px;
    display: inline-block;
    color: #1227EE;
    font-weight: 100;
}
.text-contact{
    text-align: center;
}
.contact-img{
    width: 100%;
    position: relative;
    bottom: 0px;
}
.image{
    position: relative;
    top: 80px;
    width: 100%;
    margin-bottom: -250px;
}
.footer{
    background: #1227F0;
    
}
.block-footer{
    height: 91px;
}
.text-footer{
    font-size: 15px;
    color: white;
    margin-left: 20px;
}
.image-text{
    display: flex;
    padding-top: 25px;
}