body {
    margin: 0;
    background: url(../img/ФОН.jpg)no-repeat;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;

}

.container {
    width: 1728px;
    margin: 0 auto;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.logo {
    float: left;
    padding: 15px 0 5px 30px;
}

.menu {
    float: right;
    padding: 5px 0 5px 70px;
}

.menu_list {
    list-style: none;
}

.menu_item {
    float: left;
    padding: 5px 0 5px 60px;
}

.menu_link {
    color: #FDC700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.menu_link:hover {
    background: #FDC700;
    display: inline-block;
    color: black;
    text-align: center;
    border-radius: 4%;
    padding: 20px;
    padding: 13px 53px 13px 45px;


}

.silentdisc {
    font-size: 65px;
    color: white;
    width: 764px;
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 99px;
}

.silentdisc span {
    color: #FDC700;
}

.silenttext {
    display: inline-block;
    padding-top: 205px;
}

.text {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    width: 544px;
    font-weight: inherit;
    margin-bottom: 99px;
}

.application {
    color: #FDC700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 148px;
}

.application:hover {
    background: #FDC700;
    display: inline-block;
    color: black;
    text-align: center;
    /* transform: skewX(15deg); */
    border-radius: 4%;
    padding: 16px 129px 14px 105px;
    margin-left: 49px;

}

.downloude {
    display: flex;
    justify-content: center;
    padding-top: 435px;
}

.slid-video {
    font-size: 65px;
    color: white;
    font-weight: inherit;
    padding-top: 155px;
}

.textsystem {
    font-size: 25px;
    color: white;
    font-weight: inherit;
}

.videotext {
    width: 86%;
    text-align: center;
    margin-left: 125px;
}

.videosilent {
    text-align: center;


}

.video {
    border-radius: 6%;
    border: 2px solid #FDC700;
    transform: skewX(7deg);
    width: 1100px;
    height: 670px;
}

.slidtext {
    width: 86%;
    text-align: center;
    margin-left: 125px;
}

.slid {
    font-size: 65px;
    color: white;
    font-weight: inherit;
    text-align: center;
}

.card {
    padding: 30px;
    color: black;
    font-size: 16px;
    background-color: #FDC700;
    border-radius: 11%;
    transform: skewX(7deg);


}

.slider-container {
    padding: 0 15px;
    position: relative;
    margin: 0 auto;
    padding-top: 160px;
}

.swiper-container {
    margin: 0 auto;

}

.swiper-button-prev,
.swiper-button-next {
    background-color: white;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 30px;

}

.swiper-pagination-total {
    margin-left: 20px;
}

.swiper-pagination-current {
    margin-right: 20px;
    font-size: 20px;
}

.slider-text {
    text-align: center;
}

.slid-text {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 29px;
}

.border {
    color: white;
    width: 42%;
    border: 1px solid;
}

.contur {
    position: relative;
    bottom: 280px;
    left: 1400px;
}

.info-ears {
    background: #1A2EEC;
    background: -webkit-linear-gradient(top, #1A2EEC, #000000);
    background: -moz-linear-gradient(top, #1A2EEC, #000000);
    background: linear-gradient(to bottom, #1A2EEC, #000000);
    display: grid;
}

.bacsloi {
    background: #0B155D;
    background: -webkit-linear-gradient(left, #0B155D, #555C94);
    background: -moz-linear-gradient(left, #0B155D, #555C94);
    background: linear-gradient(to right, #0B155D, #555C94);
}


.ears{
    background-color: blue;
}
.router{
    background-color: blue;
}
.icons{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    
    margin-left: 185px;
    margin-top: 85px;
}
.text_img{
    float: left;
    width: 49%;
    
}

.block-information{
    margin-bottom: 150px;
}

 .ear-img{
    position: relative;
    bottom: 75px;
    right: 67px;
}
.router-img{
    position: relative;
    bottom: 145px;
    right: 45px;
}

 .text-super{
    color: white;
    font-size: 45px;
    margin-left: 116px;
    margin-top: -73px;
}

.text-ears{
    color: white;
    font-size: 45px;
    margin-left: 286px;
    margin-top: -77px;
    
}
.mult-text{
    color: white;
    font-size: 30px;
    margin-left: 110px;
} 
 .mult-fm{
    color: white;
    font-size: 30px;
    margin-left: 180px;
}



 .button-text {
    color: #FDC700;
    font-size: 20px;
    margin-left: 305px;
   
} 

.button-text:hover {
    background: #FDC700;
    color: black;
    text-align: center;
    border-radius: 4%;
    padding: 22px 127px 31px 102px;
    margin-left: 180px;


} 
.button-trans{
    color: #FDC700;
    font-size: 20px;
    margin-left: 305px;
}
.button-trans:hover{
    background: #FDC700;
    color: black;
    text-align: center;
    border-radius: 4%;
    padding: 22px 127px 31px 102px;
    margin-left: 223px;
}
.block-rent{
    background-image: url(../img/Прямоугольник\ 61.jpg);
    display: grid;
}
.rent-text{
    text-align: center;
    color: white;
    font-size: 65px;
}
.find-out-prices{
    display: flex;
    justify-content: center;
}
.find-price{
    padding: 35px;
    position	: relative;
	width		: 100%; 
}
.border-bor{
    border: 1px solid #FDC700;
    border-radius: 4%;
}
.base{
    position: absolute;
    top: 45px;
    left: 200px;
    font-size: 45px;
    border-bottom: 2px solid #fff;
    line-height: 1.9;
}
.pro{
    position: absolute;
    top: -20px;
    left: 260px;
    font-size: 45px;
    border-bottom: 2px solid #fff;
    line-height: 1.9;
}

.li-base{
    position: absolute;
    top: 228px;
    left: 115px;
    font-size: 30px;
}
.li-fm-base{
    position: absolute;
    top: 300px;
    left: 111px;
    font-size: 30px;
    width: 223px;
}
.li-base-ears{
    position: absolute;
    top: 398px;
    left: 111px;
    font-size: 30px;
}
.li-base-cord{
    position: absolute;
    top: 460px;
    left: 111px;
    font-size: 30px;
}
.li-pro-ear{
    position: absolute;
    top: 425px;
    left: 111px;
    font-size: 30px;
}
.li-pro{
    position: absolute;
    top: 135px;
    left: 115px;
    font-size: 30px;
}
.li-fm-pro{
    position: absolute;
    top: 205px;
    left: 111px;
    font-size: 30px;
}
.li-pro-ears{
    position: absolute;
    top: 285px;
    left: 111px;
    font-size: 30px;
}
.li-pro-radio{
    position: absolute;
    top: 357px;
    left: 111px;
    font-size: 30px;
}
.li-event{
    position: absolute;
    top: 228px;
    left: 115px;
    font-size: 30px;
}
.li-fm-event{
    position: absolute;
    top: 300px;
    left: 111px;
    font-size: 30px;
    width: 223px;
}
.li-event-ears{
    position: absolute;
    top: 398px;
    left: 111px;
    font-size: 30px;
}
.li-event-radio{
    position: absolute;
    top: 460px;
    left: 111px;
    font-size: 30px;
}
.a-price{
    position: absolute;
    left: 201px;
    font-size: 25px;
    bottom: 200px;
    color: black;
    
}
.a-price-pro{
    position: absolute;
    left: 240px;
    font-size: 25px;
    bottom: 200px;
    color: black;
}
.a-price-pro:hover{
    background: white;
    border-radius: 4%;
    margin: 0px 0px -20px -89px;
    padding: 20px 92px 21px 87px;
}
.a-price:hover {
    background: white;
    border-radius: 4%;
    margin: 0px 0px -20px -89px;
    padding: 20px 92px 21px 87px;
    
}
.block-instagram{
    background-image: url(../img/IMG_1783.jpg);
    background-repeat: no-repeat;
    display: grid;
}
.text-insta{
    text-align: center;
    font-size: 65px;
    padding-top: 300px;
    width: 1535px;
    padding-left: 304px;
}
.text-silent-inst{
    font-size: 60px;
    color: white;
    width: 600px;
}
.text-silent-inst span {
    color: #FDC700;
}
.inst-border{
    display: flex;
    border: 2px solid #FDC700;
    border-radius: 70px;
    justify-content: space-around;
    margin-left: 185px;
    margin-right: 231px;
    background: #262626;
    margin-bottom: 75px;
}
.inst-silent{
    margin-bottom: 80px;
}
.inst-img{
    width: 374px;
    height: 374px;
    margin-top: 40px;
    border-radius: 20px;
}
.text-news{
    display: inline-block;
    border: 2px solid #FDC700;
    padding: 12px 30px 10px 30px;
    position: relative;
    top: 45px;
    background: #FDC700;
    border-radius: 20px;
    font-size: 25px;
}
.compani-text{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 850px;
    margin-left: 510px;
}
.news{
    text-align: center;
}
.footer{
    background: #1227F0;
    
}
.block-footer{
    height: 91px;
}
.text-footer{
    font-size: 15px;
    color: white;
    margin-left: 20px;
}
.image-text{
    display: flex;
    padding-top: 25px;
}




